html, body, .container-fluid {
  background-color: #3e4e6f;
  font-family: 'Acme', sans-serif;
}

#task-input {
  font-size: 16px;
}

#taskListBlock {
  font-size: 5rem;
  text-align: center;
  color: #f5deb3;
}